div {
    height: 200px;
    width: 150px;
    border: 2px solid black;
    display: inline-block;
}

body {
    background-image: url("imgs/cat.jpg");
    background-size: cover;
}

#box1 {
    background-image: url("imgs/cat.jpg");
    /*background-size: auto;     bydefault it is auto*/
}

#box2 {
    background-image: url("imgs/cat.jpg");
    background-size: cover;
}

#box3 {
    background-image: url("imgs/bird.jpg");
    background-size: contain;
}

#box4 {
    background-image: url("imgs/bird.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#box5 {
    background-image: url("imgs/cat.jpg");
    background-size: auto;
}