#headingId {
    color: black;
    background-color: white;
}
.headingClass {
    background-color: yellowgreen;
}
button:hover {
    background-color: yellow;
    color: black;
}
#buttonId {
    background-color: yellowgreen;
}
.box {
    height: 100px;
    width : 100px;
    border: 1px solid black;
    margin: 5px;
    text-align:center;
    background-color: yellowgreen;
}
.amazom {
    color:yellow;
}
.dark {
    background-color: black;
}